<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.1" targetFramework="monoandroid80" />
  <package id="Microsoft.Azure.Mobile" version="0.17.1" targetFramework="monoandroid80" />
  <package id="Microsoft.Azure.Mobile.Push" version="0.17.1" targetFramework="monoandroid80" />
  <package id="MvvmLightLibs" version="5.3.0.0" targetFramework="monoandroid60" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Arch.Core.Common" version="1.0.0" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Arch.Lifecycle.Common" version="1.0.1" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Arch.Lifecycle.Runtime" version="1.0.0" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Annotations" version="26.1.0.1" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Compat" version="26.1.0.1" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Core.UI" version="26.1.0.1" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Core.Utils" version="26.1.0.1" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Fragment" version="26.1.0.1" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Media.Compat" version="26.1.0.1" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.v4" version="26.1.0.1" targetFramework="monoandroid80" />
  <package id="Xamarin.Build.Download" version="0.4.7" targetFramework="monoandroid80" />
  <package id="Xamarin.Firebase.Analytics" version="60.1142.0" targetFramework="monoandroid80" />
  <package id="Xamarin.Firebase.Analytics.Impl" version="60.1142.0" targetFramework="monoandroid80" />
  <package id="Xamarin.Firebase.Common" version="60.1142.0" targetFramework="monoandroid80" />
  <package id="Xamarin.Firebase.Core" version="60.1142.0" targetFramework="monoandroid80" />
  <package id="Xamarin.Firebase.Iid" version="60.1142.0" targetFramework="monoandroid80" />
  <package id="Xamarin.Firebase.Messaging" version="60.1142.0" targetFramework="monoandroid80" />
  <package id="Xamarin.GooglePlayServices.Basement" version="60.1142.0" targetFramework="monoandroid80" />
  <package id="Xamarin.GooglePlayServices.Tasks" version="60.1142.0" targetFramework="monoandroid80" />
</packages>